extends layout

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${listing.pic || 'store.png'}`)
      h2.title.title--single
        a(href=`/listing/${listing.slug}`) ##{listing.title}
        
  .single__details.inner
    img.single__map(src=h.staticMap(listing.location.coordinates))
    p.single__location= listing.location.address
    p= listing.description
    
    if listing.tags
      ul.tags
        each tag in listing.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text ##{tag}
